<ul class="nav nav-tabs navigation">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" routerLinkActive="active">Ventas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/inventory" routerLinkActive="active">Inventario</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/clients" routerLinkActive="active">Clientes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Personal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Finanzas</a>
  </li>
</ul>
